* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f2f7f9;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(50px, 25%) 1fr;
}

.wrapper .item1 {
    background: #fae6af;
    padding: 10px;
}

.wrapper .item2 {
    background: #dacbe1;
    padding: 10px;
}